body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #80808080;
}

canvas {
}

#select-rom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#debugging-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
}

#disassembly-container {
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  position: absolute;
  max-height: 100%;
  width: 50%;
  overflow: scroll;
}

#disassembly-list {
  display: none;
  overflow-y: auto;
}

#cpu-internals-container {
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  position: absolute;
  max-height: 100%;
  width: 50%;
  overflow: scroll;
}

#inner-cpu-internals {
  display: none;
  overflow-y: auto;
}
